@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  background-color: #252746;
}
a {
  text-decoration: none;
}
.hero {
  width: 100%;
  height: 100vh;
}
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px 100px;
  background-color: #252746;
}
.logo {
  max-height: 80px;
}
nav ul {
  background-color: #252746;
}
nav ul li {
  background-color: #252746;
  list-style: none;
  display: inline-block;
  padding: 10px 20px;
}
nav ul li a {
  background-color: #252746;
  color: #fff;
  position: relative;
  padding: 5px 0;
}
nav ul li a:hover {
  color: #ff9677;
}
nav ul li a:after {
  content: "";
  position: absolute;
  left: 0;
  width: 0;
  height: 3px;
  background: #ff9677;
  transition: 0.3s;
  bottom: 0;
}
nav ul li a:hover:after {
  width: 100%;
}
.btn {
  color: #fff;
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 2px;
  padding: 16px 40px;
  border-radius: 500px;
  display: inline-block;
  font-weight: 500;
  transition: all 0.4s ease-in-out;
  background-size: 152% 100%;
  background: #ff9677;
  border: 2px solid #ff9677;
}
.btn:hover {
  background: transparent;
  border-color: #ff9677;
  color: #ff9677;
}
.content {
  position: absolute;
  top: 35%;
  left: 8%;
}
.content .title {
  background-color: #9ba5c9;
  font-size: 1.5rem;
  text-transform: uppercase;
  letter-spacing: 4px;
  display: inline-block;
  margin-top: 10px;
  margin-left: 10px;
  background: linear-gradient(
    120deg,
    #ff9677 20.69%,
    #f54768 50.19%,
    #ff9ac2 79.69%
  );
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.content h1 {
  color: #ffffff;
  font-size: 7rem;
  font-weight: 900;
  line-height: 90px;
  text-transform: inherit;
  width: 70%;
  z-index: 1;
}
.content h1 span {
  color: #ff9677;
}
.content p {
  width: 55%;
  color: #ffffff;
  margin-top: 100px;
  margin-bottom: 30px;
  margin-left: 1.5rem;
  font-size: 1.5rem;
  letter-spacing: 2px;
}

/* Section for socials nav */

.sticky-container {
  padding: 0px;
  margin: 0px;
  position: fixed;
  right: -130px;
  top: 230px;
  width: 210px;
  z-index: 1100;
}
.sticky li {
  list-style-type: none;
  background-color: #252746;
  height: 43px;
  padding: 0px;
  margin: 25px 0px 1px 0px;
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
  cursor: pointer;
}
.sticky li:hover {
  margin-left: -30px;
}
.sticky li img {
  float: left;
  margin: 5px 4px;
  margin-right: 5px;
}
.sticky li p {
  padding-top: 5px;
  margin: 0px;
  line-height: 16px;
  font-size: 11px;
}
.sticky li p a {
  text-decoration: none;
  color: #2c3539;
}
.sticky li p a:hover {
  text-decoration: underline;
}

/* section for rolling ball */

.dot-rolling {
  position: absolute;
  top: 40px; left: 40px;
  height: 50px;
  font-size: 20px;
  padding-left: 100px;
}

.dot-rolling::before {
  content: "⚽";
  display: inline-block;
  position: relative;
  transform: translateX(-50px);
  animation: dotRolling 8s infinite;
}

@keyframes dotRolling {
  0% {
    content: "⚽";
    transform: translateX(-75px) rotateZ(0deg);
  }
  16.667% {
    content: "⚽";
    transform: translateX(75px) rotateZ(720deg);
  }
  33.333% {
    content: "⚽";
    transform: translateX(-75px) rotateZ(0deg);
  }
  34.333% {
    content: "🏀";
    transform: translateX(-75px) rotateZ(0deg);
  }
  50% {
    content: "🏀";
    transform: translateX(75px) rotateZ(720deg);
  }
  66.667% {
    content: "🏀";
    transform: translateX(-75px) rotateZ(0deg);
  }
  67.667% {
    content: "🏐";
    transform: translateX(-75px) rotateZ(0deg);
  }
  83.333% {
    content: "🏐";
    transform: translateX(75px) rotateZ(720deg);
  }
  100% {
    content: "🏐";
    transform: translateX(-75px) rotateZ(0deg);
  }
}
